<ion-view view-title="添加客户">
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-nav-buttons side="right">
    <a class="button  button-positive">保存</a> 
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
  <div class="list">
    <!--   <label class="item">
      	<span class="input-label">客户头像</span>
      	<img src="./images/avatar.png" alt="placeholder+image">
      </label> -->
      <label class="item item-input">
        <span class="input-label">客户姓名</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">客户电话</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">客户QQ</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">客户微信</span>
        <input type="text">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          客户性别
        </div>
        <select>
          <option selected>男</option>
          <option>女</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">客户爱好</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">客户职业</span>
        <input type="text">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          接待人员
        </div>
        <select>
          <option selected>巴菲特</option>
          <option>盖茨</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          来源渠道
        </div>
        <select>
          <option selected>网上广告</option>
          <option>电话广告</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          客户人数
        </div>
        <select>
          <option selected>1人</option>
          <option>2人</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          是否试驾
        </div>
        <select>
          <option selected>是</option>
          <option>否</option>
        </select>
      </label>
      
    </div>

  
  


  </ion-content>
</ion-view>