<ion-view view-title="添加客户">
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-nav-buttons side="right">
    <a class="button  button-positive">保存</a> 
  </ion-nav-buttons>
</ion-nav-bar>
  <ion-content>
  <div class="list list-inset">
      <ng-form name="myForm" ng-submit="submitForm(myForm.$valid)">
          <!--   <label class="item">
      	<span class="input-label">客户头像</span>
      	<img src="./images/avatar.png" alt="placeholder+image">
      </label> -->
      <label class="item item-input">
        <span class="input-label">客户姓名</span>
        <input type="text" required 
          ng-minlength="2"
          ng-maxlength="18"
          name="name" 
          ng-model="customer.name"
          ng-model-options="{ updateOn: 'default blur' }"
          style="{{myForm.name.$invalid && 'border:1px solid red;' || ''}}" 
        >
      </label>
      <label class="item item-input">
        <span class="input-label">客户电话</span>
        <input type="tel" name="tel" ng-model="customer.tel" required
          ng-model-options="{ updateOn: 'default blur' }"
          style="{{myForm.tel.$invalid && 'border:1px solid red;' || ''}}" 
        >
      </label>
      <label class="item item-input">
        <span class="input-label">客户QQ</span>
        <input type="tel">
      </label>
      <label class="item item-input">
        <span class="input-label">客户微信</span>
        <input type="tel">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          客户性别
        </div>
        <select>
          <option selected>男</option>
          <option>女</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">客户爱好</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">客户职业</span>
        <input type="text">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          接待人员
        </div>
        <select>
          <option selected>巴菲特</option>
          <option>盖茨</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          来源渠道
        </div>
        <select>
          <option selected>网上广告</option>
          <option>电话广告</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          客户人数
        </div>
        <select>
          <option selected>1人</option>
          <option>2人</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          是否试驾
        </div>
        <select>
          <option selected>是</option>
          <option>否</option>
        </select>
      </label>
       <label class="item item-input item-select">
        <div class="input-label">
          来店记录
        </div>
        <input type="datetime-local" name="date">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          离店记录
        </div>
        <input type="datetime-local" name="date">
      </label>
      <label class="item item-input">
        <div class="input-label">
           客户评级
        </div>
        <a class="button button-small button-full icon-left ion-star button-stable">评级</a>
      </label>
        <label class="item item-input item-select">
        <div class="input-label">
          图像
        </div>
        <input type="file" class="ios_only" accept="image/*" capture="camera">
      </label>
      <label class="item item-input">
        <div class="input-label">
          商谈记录
        </div>
        <input type="text" name="date">
    <!--     <textarea></textarea> -->
      </label>
    </ng-form>
    </div>

  
  


  </ion-content>
</ion-view>