<ion-view view-title="客户管理" >
<ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-plus-round"></a> 
  </ion-nav-buttons>
</ion-nav-bar>
<ion-header-bar class="bar-subheader" id="customer-top">
   	<div class="row legend">
        		<div class="col  col-center current">标准客户</div>
        		<div class="col  col-center">战败客户</div>
        		<div class="col  col-center">保有客户</div>
        	</div>
 </ion-header-bar>
<ion-header-bar class="bar-subheader item-input-inset" style="margin-top:50px;">
   	<label class="item-input-wrapper">
	    <input type="search" placeholder="搜索">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	</label>
 </ion-header-bar>

 <ion-content>
<div id="customer">

        	<!-- <div class="row legend">
        		<div class="col  col-center current">标准客户</div>
        		<div class="col  col-center">战败客户</div>
        		<div class="col  col-center">保有客户</div>
        	</div>
	<ion-header-bar align-title="left" class="item-input-inset">
	 <label class="item-input-wrapper">
	    <input type="search" placeholder="搜索">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	  </label>
	</ion-header-bar> -->

	<!--  <div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    <input type="search" placeholder="搜索">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	  </label>
	</div> -->
	<ion-list type="card" >
	  <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <div>
		      <h2>刘<span class="color-assertive">13708357405</span></h2>
		      <p><span class="color-assertive"></span></p>
		      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>	      	
	      </div>
	      <a class="icon">
	      	<i class="ion-ios-telephone color-positive"></i>
	      	<span>0</span>
	      </a>
	      <ion-option-button class="button-positive">成功</ion-option-button>
	     <ion-option-button class="button-assertive">战败</ion-option-button>
	  </ion-item>
	  <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <div>
		      <h2>刘<span class="color-assertive">13708357405</span></h2>
		      <p><span class="color-assertive"></span></p>
		      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>	      	
	      </div>
	      <a class="icon">
	      	<i class="ion-ios-telephone color-positive"></i>
	      	<span>0</span>
	      </a>
	      <ion-option-button class="button-positive">成功</ion-option-button>
	     <ion-option-button class="button-assertive">战败</ion-option-button>
	  </ion-item>
	   <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <div>
		      <h2>刘<span class="color-assertive">13708357405</span></h2>
		      <p><span class="color-assertive"></span></p>
		      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>	      	
	      </div>
	      <a class="icon">
	      	<i class="ion-ios-telephone color-positive"></i>
	      	<span>0</span>
	      </a>
	      <ion-option-button class="button-positive">成功</ion-option-button>
	     <ion-option-button class="button-assertive">战败</ion-option-button>
	  </ion-item>
	   <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <div>
		      <h2>刘<span class="color-assertive">13708357405</span></h2>
		      <p><span class="color-assertive"></span></p>
		      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>	      	
	      </div>
	      <a class="icon">
	      	<i class="ion-ios-telephone color-positive"></i>
	      	<span>0</span>
	      </a>
	      <ion-option-button class="button-positive">成功</ion-option-button>
	     <ion-option-button class="button-assertive">战败</ion-option-button>
	  </ion-item>
	  <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <div>
		      <h2>刘<span class="color-assertive">13708357405</span></h2>
		      <p><span class="color-assertive"></span></p>
		      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>	      	
	      </div>
	      <a class="icon">
	      	<i class="ion-ios-telephone color-positive"></i>
	      	<span>0</span>
	      </a>
	      <ion-option-button class="button-positive">成功</ion-option-button>
	     <ion-option-button class="button-assertive">战败</ion-option-button>
	  </ion-item>
	  <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <div>
		      <h2>刘<span class="color-assertive">13708357405</span></h2>
		      <p><span class="color-assertive"></span></p>
		      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>	      	
	      </div>
	      <a class="icon">
	      	<i class="ion-ios-telephone color-positive"></i>
	      	<span>0</span>
	      </a>
	      <ion-option-button class="button-positive">成功</ion-option-button>
	     <ion-option-button class="button-assertive">战败</ion-option-button>
	  </ion-item>
	  <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <div>
		      <h2>刘<span class="color-assertive">13708357405</span></h2>
		      <p><span class="color-assertive"></span></p>
		      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>	      	
	      </div>
	      <a class="icon">
	      	<i class="ion-ios-telephone color-positive"></i>
	      	<span>0</span>
	      </a>
	      <ion-option-button class="button-positive">成功</ion-option-button>
	     <ion-option-button class="button-assertive">战败</ion-option-button>
	  </ion-item>

<!-- 	   <ion-item class="item item-avatar item-icon-right">
	      <img src="./images/avatar.png">
	      <span>C级(已回访)</span>
	      <h2>刘(0)<span class="color-assertive">13708357405</span></h2>
	      <p><span class="color-assertive"></span></p>
	      <p>长安汽车长安CS752014款 1.8T 自动精英型 国IV</p>
	      <i class="icon ion-ios-telephone color-positive"></i>
	      
	      <ion-option-button class="button-positive">分享</ion-option-button>
	     <ion-option-button class="button-assertive">编辑</ion-option-button>
	  </ion-item>
	   <ion-item class="item item-avatar">
	      <img src="./images/avatar.png">
	      <h2>Marty McFly</h2>
	      <p>November 05, 1955</p>
	      <ion-option-button class="button-positive">分享</ion-option-button>
	     <ion-option-button class="button-assertive">编辑</ion-option-button>
	  </ion-item> -->
	</ion-list>	
</div>




  </ion-content>
</ion-view>