<<ion-view view-title="主页" hide-nav-bar="true">
  <ion-content>
  <div id="index">
  	<div class="top">
  	            <div class="right">
  			<div class="logo">
  				
  			</div>
  		</div>
  		<div class="left">
  			<h1>重庆长安汽车</h1>
  			<h2>重庆万友南坪分公司</h2>
  			<h2>凌云</h2>
  		</div>
  		
  	</div>
  	<div class="legend row">
  		<div class="legend-item col">
  			<div class="name">本月任务</div>
  			<div class="value">0</div>
  		</div>
  		<div class="legend-item col">
  			<div class="name">今日销量</div>
  			<div class="value">0</div>
  		</div>
  		<div class="legend-item col">
  			<div class="name">今日订单</div>
  			<div class="value">0</div>
  		</div>
  		<div class="legend-item col">
  			<div class="name">客流数</div>
  			<div class="value">0</div>
  		</div>
  		<div class="legend-item col">
  			<div class="name">存留率</div>
  			<div class="value">0</div>
  		</div>
  	</div>
  	<div class="actions">
  		<div class="row">
  			<div class="col"><a href="#/customer" class="c1"><span>客户管理</span><i class="ion-person"></i></a></div>
  			<div class="col"><a href="#/customer" class="c2"><span>员工管理</span><i class="ion-ios-flag"></i></a></div>
  			<div class="col"><a href="#/customer" class="c3"><span>评分管理</span><i class="ion-edit"></i></a></div>
  		</div>
  		<div class="row">
  			<div class="col"><a href="#/customer" class="c4"><span>我的消息</span><i class="ion-ios-email-outline"></i></a></div>
  			<div class="col"><a href="#/customer" class="c5"><span>数据统计</span><i class="ion-stats-bars"></i></a></div>
  			<div class="col"><a href="#/customer" class="c6"><span>业务指标</span><i class="ion-arrow-graph-up-right"></i></a></div>
  		</div>
  		<div class="row">
  			<div class="col"><a href="#/customer" class="c7"><span>注销</span><i class="ion-power"></i></a></div>
  			<div class="col"></div>
  			<div class="col"></div>
  		</div>
  	</div>
  </div>
    <!-- Content Here
    <a href="#/customer">customer</a> -->
  </ion-content>
</ion-view> 