@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
@import "compass/typography/links/unstyled-link";

@import "./ionic.app";

body{
	font:16px/1.5 'XinGothic-SinaWeibo','Microsoft Yahei','helvetica','arial';
-webkit-text-size-adjust:none;

font-family:"Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";

color:#1a1a1a;
}

#index{
	.top{
                  overflow: hidden;
                  background:#5FC4FD;
                  padding-top:20px;
                  padding-bottom:20px;
	      .right{
                        @include inline-block;
                        float:right;
                        width:100px;
                        height:80px;
                        padding:{
                          right:20px;
                        }
                        .logo{
                            @include inline-block;
                            height:80px;
                            width:80px;
                            background:url("../images/logo.png") no-repeat scroll 0 0 transparent;
                            @include border-radius(50%);
                        }
	      }
                  .left{
                     @include inline-block;
                     /*margin-right:120px;*/
                      h1,h2{
                         color:#fff;
                         font-weight:bold;
                         margin:0;
                         padding-left:20px;
                      }
                      h1{
                        font-size:30px;
                      }
                      h2{
                        font-size:16px;
                      }
                  }
	}
	.legend{
	   background:#63B9F6;
	   .legend-item{
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	  	white-space: nowrap;
	  	font-size:14px;
	  	color:#fff;
	  	font-weight:bold;
	  	div{
	  	text-align: center;
	  	}
	   }
	}
      .actions{
         padding:{
             left:10px;
             right:10px;
             top:10px;
         }
         a{
           padding-top:10px;
           width:100%;
           @include inline-block;
           height:100px;
           @include unstyled-link;
           color:#fff;
           text-align:center;
           span{
            font:{
             size:16px;
             weight:bold;
            }
            @include inline-block;
            width:100%;
            text-align:center;
           }
           i{
             font-size:60px;
             vertical-align: top;
           }
         }
         a.c1{
           background:#5FC2FF;
         }
         a.c2{
          background:#6AE8F4;
          i{
            font-size:65px;
          }
         }
         a.c3{
          background:#FF9C5F;
          i{
            font-size:46px;
          }
         }
         a.c4{
          background:#77E6A7;
         }
         a.c5{
          background:#7B60FF;
         }
         a.c6{
          background:#B366FB;
         }
         a.c7{
          background:#FF6472;
          i{
            font-size:50px;
          }
         }
      }
}
#customer-top{
    height: 50px;
    background: #fff;
  /* .legend{
    padding:{
     left:10px;
     right:10px;
    }
  }
  */
  .legend > div{
    border:{
     top:1px solid $positive;
     right:1px solid $positive;
     bottom:1px solid $positive;
    }
    text-align:center;
  }
  .legend > div.current{
    background:$positive;
    color:#fff;
  }
  .legend div:nth-child(1){
      border-left:1px solid $positive;
    }
}
#customer{
padding-top:34px;
  .item-avatar .item-content{
     padding-left:92px;
  }
  .item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image{
     max-width: 60px;
     max-height: 60px;
  }
  .item-avatar .item-content > span{
    position: absolute;
      top: 78px;
      left:8px;
      color: #666;
      font-size: 14px;
  }
  .item-avatar .item-content > div{
     border-right:1px solid #ddd;
     padding-right:5px;
     min-height:80px;
  }
  /*.item-complex.item-icon-right .item-content{
    padding-right: 64px;
  }*/
  .item-icon-right .icon{
    font-size:48px;
    -webkit-box-align: baseline;
    -ms-flex-align: top;
    -webkit-align-items: baseline;
    -moz-align-items: inherit;
    align-items: baseline;
    span{
     position:absolute;
     top:56px;
     left:0;
     width:100%;
     text-align:center;
     color: #666;
     font-size: 24px;
    }
  }
  .item-content p{
      white-space: normal;
  }
}