@charset "UTF-8";
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\000035}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000322}}
html {
  line-height: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000324}}
ol, ul {
  list-style: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000326}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000328}}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000330}}
q, blockquote {
  quotes: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003103}}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\0000332}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/reset\/_utilities\.scss}line{font-family:\00003116}}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\000036}}
body {
  font: 16px/1.5 'XinGothic-SinaWeibo','Microsoft Yahei','helvetica','arial';
  -webkit-text-size-adjust: none;
  font-family: "Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";
  color: #1a1a1a;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000316}}
#index .top {
  overflow: hidden;
  background: #5FC4FD;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000321}}
#index .top .right {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: right;
  width: 100px;
  height: 80px;
  padding-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000329}}
#index .top .right .logo {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 80px;
  width: 80px;
  background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000337}}
#index .top .left {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  /*margin-right:120px;*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000340}}
#index .top .left h1, #index .top .left h2 {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000346}}
#index .top .left h1 {
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000349}}
#index .top .left h2 {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000354}}
#index .legend {
  background: #63B9F6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000356}}
#index .legend .legend-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000363}}
#index .legend .legend-item div {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000368}}
#index .actions {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000374}}
#index .actions a {
  padding-top: 10px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 100px;
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
  color: #fff;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/compass-core-1\.0\.3\/stylesheets\/compass\/typography\/links\/_unstyled-link\.scss}line{font-family:\000036}}
#index .actions a:active, #index .actions a:focus {
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000382}}
#index .actions a span {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000391}}
#index .actions a i {
  font-size: 60px;
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000396}}
#index .actions a.c1 {
  background: #5FC2FF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\0000399}}
#index .actions a.c2 {
  background: #6AE8F4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003101}}
#index .actions a.c2 i {
  font-size: 65px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003105}}
#index .actions a.c3 {
  background: #FF9C5F;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003107}}
#index .actions a.c3 i {
  font-size: 46px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003111}}
#index .actions a.c4 {
  background: #77E6A7;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003114}}
#index .actions a.c5 {
  background: #7B60FF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003117}}
#index .actions a.c6 {
  background: #B366FB;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003120}}
#index .actions a.c7 {
  background: #FF6472;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003122}}
#index .actions a.c7 i {
  font-size: 50px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003128}}
#customer {
  /*.item-complex.item-icon-right .item-content{
    padding-right: 64px;
  }*/
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003129}}
#customer .item-avatar .item-content {
  padding-left: 92px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003132}}
#customer .item-avatar > img:first-child, #customer .item-avatar .item-image, #customer .item-avatar .item-content > img:first-child, #customer .item-avatar .item-content .item-image, #customer .item-avatar-left > img:first-child, #customer .item-avatar-left .item-image, #customer .item-avatar-left .item-content > img:first-child, #customer .item-avatar-left .item-content .item-image {
  max-width: 60px;
  max-height: 60px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003136}}
#customer .item-avatar .item-content > span {
  position: absolute;
  top: 78px;
  left: 8px;
  color: #666;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003143}}
#customer .item-avatar .item-content > div {
  border-right: 1px solid #ddd;
  padding-right: 5px;
  min-height: 80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003151}}
#customer .item-icon-right .icon {
  font-size: 48px;
  -webkit-box-align: baseline;
  -ms-flex-align: top;
  -webkit-align-items: baseline;
  -moz-align-items: inherit;
  align-items: baseline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003158}}
#customer .item-icon-right .icon span {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 24px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/binbin\/Documents\/work\/cars\/scss\/main\.scss}line{font-family:\00003168}}
#customer .item-content p {
  white-space: normal;
}
